*, ::before, ::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
color: whitesmoke;
background-color: black;
}
nav {
display: flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;
font-family: Arial, Helvetica, sans-serif;
background-color: black;

}
.logo {
color: whitesmoke;
text-transform: uppercase;
letter-spacing: 5px;
font-size: 20px;
}
.nav-links {
display: flex;
justify-content: space-around;
width: 40%;
}
.nav-links li {
list-style: none;
}
.nav-links a {
color: whitesmoke;
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 13px;
}
.burger {
display: none;
cursor: pointer;
}
.burger div {
width:25px;
height: 2px;
background-color: whitesmoke;
margin: 5px;
}

@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

}
@media screen and (min-width:375px) {
    
    .burger {
        margin-right: 60px;
    }
    
}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .logo {
                
        margin: 30px;
        padding: 0;

    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }

    .slogan {
        padding-right: 15%;
        
    }
    .img-container {
        padding: 20px;
        display: flex;
        justify-content: center;
        }
        .img-container img{
        width: 110px;
        
        }
    .main {
        flex-direction: column;
    }
    .right {
        max-width: 100%;
    }
    .right p {
        margin: 25px;
        max-width: 300px;
        font-size: 15px;
    }
    
    li {
        padding-left: 20px;
        
        list-style-position: inside;
    
    }
    .left img {
        max-height: 100%;
        
    
    }
    .banner-2 {
        max-height: 100vh;
    }
    .contact-us2 {
        
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: whitesmoke;
        color: black;
        justify-content: center;
        height: 35px;
        display: flex;
        align-items: center;
        
    }
    
    

    


}
.nav-active {
transform: translateX(0%);
}
@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);

}
to {
    opacity: 1;
    transform: translateX(0px);
}
}
.toggle .line1 {
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px,-6px);

}
/*Main*/
.main {
padding-top: 30px;
display: flex;
justify-content: space-around;
height: 100;
}
.banner h1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.left {
    
    flex: 50%;
    display: flex;
    justify-content: center;
}
.left, .right {
    margin-top: 35px;
    height: 80vh;
}
.left img {
    max-height: 350px;
    

}
.right {
    flex: 50%;
    
    display: flex;
    flex-direction: column;
    max-width: 1000px;

}
.right h1 {

}

.banner-2 {
    width: 100%;
    height: 30vh;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.container {
    width: 60%;
}
.slogan {

padding-left: 20%;

font-weight: bold;
font-size: 38px;
display: flex;
justify-content: center;
}
.img-container {
padding: 20px;
display: flex;
justify-content: center;

}
.img-container img{
width: 1100px;

}
.brief-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-us2 {
    margin: 15px;
    padding: 15px;
    border: 2px solid white;
}
.contact-us2 a {
    font-size: 26px;
    color: white;
}
.contact-us2 a:hover {
    color: darkorange;
}

.footer {
    background-color: white;
    color: black;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
}
    
   